@model IntexFinalMummy.Models.MummyInfo
<!--Form to delete the currently loaded record-->
   <td>
    <form id="@Model.MummyId" asp-action="DeleteRecord" method="post">
        <span class="card-text p1">
            <button class="btn btn-danger" type="submit">Delete</button>
            <input type="hidden" asp-for="MummyId" />
        </span>
    </form>
</td>