@model IntexFinalMummy.Models.Quadrant
<!--Edit Quadrant Info partial-->
<div>
    <input asp-for="QuadrantId" type="hidden" value="QuadrantId" />

    <label asp-for="QuadrantDirection">Quadrant Direction (I.e. ME, MW, SE, SW)</label><br />

    <input asp-for="QuadrantDirection" />

</div> 