@model IntexFinalMummy.Models.Sample

<!--Edit Square partial-->
<div>

    <label asp-for="SampleYear">SampleYear</label><br />

    <input asp-for="SampleYear" />

</div>

<div>

    <label asp-for="SampleNotes">SampleNotes</label><br />

    <input asp-for="SampleNotes" />

</div>

<div>

    <label asp-for="BagNum">BagNum</label><br />

    <input asp-for="BagNum" />

</div>

<div>

    <label asp-for="RackNumByu">RackNumBYU</label><br />

    <input asp-for="RackNumByu" />

</div>


<div>

    <label asp-for="Initial">Initial</label><br />

    <input asp-for="Initial" />

</div> 