@model IntexFinalMummy.Models.CraniumSample

<div>
    <div>

        <label asp-for="MaxCranialLength">MaxCranialLength</label><br />

        <input asp-for="MaxCranialLength">

    </div>

    <div>

        <label asp-for="MaxCranialBreadth">MaxCranialBreadth</label><br />

        <input asp-for="MaxCranialBreadth">

    </div>

    <div>

        <label asp-for="BasionBregmaHeight ">BasionBregmaHeight</label><br />

        <input asp-for="BasionBregmaHeight">

    </div>

    <div>

        <label asp-for="BasionNasion">BasionNasion</label><br />

        <input asp-for="BasionNasion">

    </div>

    <div>

        <label asp-for="BasionProsthionLength">BasionProsthionLength</label><br />

        <input asp-for="BasionProsthionLength">

    </div>

    <div>

        <label asp-for="BizygomaticDiameter">BizygomaticDiameter</label><br />

        <input asp-for="BizygomaticDiameter">

    </div>

    <div>

        <label asp-for="NasionProsthion">NasionProsthion</label><br />

        <input asp-for="NasionProsthion">

    </div>

    <div>

        <label asp-for="MaxNasalBreadth">MaxNasalBreadth</label><br />

        <input asp-for="MaxNasalBreadth">

    </div>

    <div>

        <label asp-for="InterorbitalBreadth">InterorbitalBreadth</label><br />

        <input asp-for="InterorbitalBreadth">

    </div>

    <div>

        <label asp-for="ShelfNum">ShelfNum</label><br />

        <input asp-for="ShelfNum">

    </div>

    <div>

        <label asp-for="RackNumEgypt">RackNumEgypt</label><br />

        <input asp-for="RackNumEgypt">

    </div>

    <div>

        <label asp-for="GilesSex">GilesSex</label>

        <input asp-for="GilesSex">

    </div>
</div>