@model IntexFinalMummy.Models.MummyInfo
<!--Edit mummy info partial-->
<div>

    <div>

        <label asp-for="HeadDirection">HeadDirection</label><br />

        <input asp-for="HeadDirection" />

    </div>

    <div>

        <label asp-for="FieldBookYear">FieldBookYear</label><br />

        <input asp-for="FieldBookYear">

    </div>

    <div>

        <label asp-for="FieldBookPageNum">FieldBookPageNum</label><br />

        <input asp-for="FieldBookPageNum">

    </div>

    <div>

        <label asp-for="PreservationDescription">PreservationDescription</label><br />

        <input asp-for="PreservationDescription">

    </div>

    <div>

        <label asp-for="PreviouslySampled">PreviouslySampled</label><br />

        <input asp-for="PreviouslySampled">

    </div>

    <div>

        <label asp-for="BurialSituationNotes">BurialSituationNotes</label><br />

        <input asp-for="BurialSituationNotes">

    </div>

    <div>

        <label asp-for="LengthOfRemains">LengthOfRemains</label><br />

        <input asp-for="LengthOfRemains">

    </div>

    <div>

        <label asp-for="GefunctionTotal">GefunctionTotal</label><br />

        <input asp-for="GefunctionTotal">

    </div>

    <div>

        <label asp-for="SexGe">SexGE</label><br />

        <input asp-for="SexGe">

    </div>

    <div>

        <label asp-for="VentralArc">VentralArc</label><br />

        <input asp-for="VentralArc">

    </div>

    <div>

        <label asp-for="SubponicAngle">SubponicAngle</label><br />

        <input asp-for="SubponicAngle">

    </div>

    <div>

        <label asp-for="SciaticNotch">SciaticNotch</label><br />

        <input asp-for="SciaticNotch">

    </div>

    <div>

        <label asp-for="PubicBone">PubicBone</label><br />

        <input asp-for="PubicBone">

    </div>

    <div>

        <label asp-for="PreaurSulcus">PreaurSulcus</label><br />

        <input asp-for="PreaurSulcus">

    </div>

    <div>

        <label asp-for="MedialIpramus">MedialIPramus</label><br />

        <input asp-for="MedialIpramus">

    </div>

    <div>

        <label asp-for="DorsalPitting">DorsalPitting</label><br />

        <input asp-for="DorsalPitting">

    </div>

    <div>

        <label asp-for="FormanMagnum">Forman Magnum</label><br />

        <input asp-for="FormanMagnum" />

    </div>

    <div>

        <label asp-for="FemurHead">FemurHead</label><br /><br />

        <input asp-for="FemurHead" />

    </div>

    <div>

        <label asp-for="HumerusHead">HumerusHead</label><br />

        <input asp-for="HumerusHead" />

    </div>

    <div>

        <label asp-for="Osteophystosis">Osteophystosis</label><br />

        <input asp-for="Osteophystosis" />

    </div>

    <div>

        <label asp-for="PubicSymphysis">PubicSymphysis</label><br />

        <input asp-for="PubicSymphysis" />

    </div>

    <div>

        <label asp-for="FemurLength">Femur Length</label><br />

        <input asp-for="FemurLength" />

    </div>

    <div>

        <label asp-for="HumerusLength">HumerusLength</label><br />

        <input asp-for="HumerusLength" />

    </div>

    <div>

        <label asp-for="TibiaLength">TibiaLength</label><br />

        <input asp-for="TibiaLength" />

    </div>

    <div>

        <label asp-for="Robust">Robust</label><br />

        <input asp-for="Robust" />

    </div>

    <div>

        <label asp-for="SupraorbitalRidges">SupraorbitalRidges</label><br />

        <input asp-for="SupraorbitalRidges" />

    </div>

    <div>

        <label asp-for="OrbitEdge">OrbitEdge</label><br />

        <input asp-for="OrbitEdge" />

    </div>

    <div>

        <label asp-for="ParietalBossing">ParietalBossing</label><br />

        <input asp-for="ParietalBossing" />

    </div>

    <div>

        <label asp-for="Gonian">Gonian</label><br />

        <input asp-for="Gonian" />

    </div>
</div>