@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IntexFinalMummy.Models.C14sample
<div>
    <div>

        <label asp-for="Tube">Tube</label><br />

        <input asp-for="Tube" />

    </div>

    <div>

        <label asp-for="C14description">C14Description</label><br />

        <input asp-for="C14description" />

    </div>

    <div>

        <label asp-for="Size">Size</label><br />

        <input asp-for="Size" />

    </div>

    <div>

        <label asp-for="Foci">Foci</label><br />

        <input asp-for="Foci" />

    </div>

    <div>

        <label asp-for="C14Sample2017">C14Sample2017</label><br />

        <input asp-for="C14Sample2017" />

    </div>

    <div>

        <label asp-for="Location">Location</label><br />

        <input asp-for="Location" />

    </div>

    <div>

        <label asp-for="Questions">Questions</label><br />

        <input asp-for="Questions" />

    </div>

    <div>

        <label asp-for="Conventional14CageBp">Conventional14CageBP</label><br />

        <input asp-for="Conventional14CageBp" />

    </div>

    <div>

        <label asp-for="C14calendarDate">C14CalendarDate</label><br />

        <input asp-for="C14calendarDate" />

    </div>

    <div>

        <label asp-for="Calibrated95perCalendarDateMax">Calibrated95perCalendarDateMax</label><br />

        <input asp-for="Calibrated95perCalendarDateMax" />

    </div>

    <div>

        <label asp-for="Calibrated95perCalendarDateMin">Calibrated95perCalendarDateMin</label><br />

        <input asp-for="Calibrated95perCalendarDateMin" />

    </div>

    <div>

        <label asp-for="Calibrated95perCalendarDateSpan">Calibrated95perCalendarDateSpan</label><br />

        <input asp-for="Calibrated95perCalendarDateSpan" />

    </div>

    <div>

        <label asp-for="Calibrated95perCalendarAvg">Calibrated95perCalendarAvg</label><br />

        <input asp-for="Calibrated95perCalendarAvg" />

    </div>

    <div>

        <label asp-for="Category">Category</label>

        <input asp-for="Category" />

    </div>

    <div>

        <label asp-for="Lab">Lab</label>

        <input asp-for="Lab" />

    </div>
</div>