@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IntexFinalMummy.Models.MummyInfo


<!--Another Partial-->

<div class="container">
    <div>

        <label asp-for="BurialNumber">BurialNumber</label> <br />

        <input value="@Model.BurialNumber" asp-for="BurialNumber" />

    </div>

    <div>

        <label asp-for="AdultChild">AdultChild</label><br />

        <input value="@Model.AdultChild" asp-for="AdultChild" />

    </div>

    <div>

        <label asp-for="Sex">Sex</label><br />

        <input asp-for="Sex" />

    </div>

    <div>

        <label asp-for="SexMethod">SexMethod</label><br />

        <input asp-for="SexMethod" />

    </div>

    <div>

        <label asp-for="MinAge">MinAge</label><br />

        <input asp-for="MinAge" />

    </div>

    <div>

        <label asp-for="MaxAge">MaxAge</label><br />

        <input asp-for="MaxAge" />

    </div>

    <div>

        <label asp-for="HairColor">HairColor</label><br />

        <input asp-for="HairColor" />

    </div>

    <div>

        <label asp-for="Sample">Sample</label><br />

        <input asp-for="Sample" />

    </div>

    <div>

        <label asp-for="YearDiscovered">YearDiscovered</label><br />

        <input asp-for="YearDiscovered" />

    </div>

    <div>

        <label asp-for="MonthDiscovered">MonthDiscovered</label><br />

        <input asp-for="MonthDiscovered" />

    </div>

    <div>

        <label asp-for="DayDiscovered">DayDiscovered</label><br />

        <input asp-for="DayDiscovered" />

    </div>

    <div>

        <label asp-for="Artifacts">Artifacts</label><br />

        <input asp-for="Artifacts" />

    </div>

    <div>

        <label asp-for="ArtifactsDescription">ArtifactsDescription</label><br />

        <input asp-for="ArtifactsDescription" />

    </div>

    <div>

        <label asp-for="HairTaken">HairTaken</label><br />

        <input asp-for="HairTaken" />

    </div>

    <div>

        <label asp-for="SoftTissueTaken">SoftTissueTaken</label><br />

        <input asp-for="SoftTissueTaken" />

    </div>

    <div>

        <label asp-for="BoneTaken">BoneTaken</label><br />

        <input asp-for="BoneTaken" />

    </div>

    <div>

        <label asp-for="ToothTaken">ToothTaken</label><br />

        <input asp-for="ToothTaken" />

    </div>

    <div>

        <label asp-for="TextileTaken">TextileTaken</label><br />

        <input asp-for="TextileTaken" />

    </div>

    <div>

        <label asp-for="MummyDescription">MummyDescription</label><br />

        <input asp-for="MummyDescription" />

    </div>

    <div>

        <label asp-for="BurialDepth">BurialDepth</label><br />

        <input asp-for="BurialDepth" />

    </div>

    <div>

        <label asp-for="ExtractedOrder">ExtractedOrder</label><br />

        <input asp-for="ExtractedOrder" />

    </div>

    <div>

        <label asp-for="SkullYear">SkullYear</label><br />

        <input asp-for="SkullYear" />

    </div>

    <div>

        <label asp-for="SkullMonth">SkullMonth</label><br />

        <input asp-for="SkullMonth" />

    </div>

    <div>

        <label asp-for="SkullDay">SkullDay</label><br />

        <input asp-for="SkullDay" />

    </div>

    <div>

        <label asp-for="SouthToHead">SouthToHead</label><br />

        <input asp-for="SouthToHead" />

    </div>

    <div>

        <label asp-for="SouthToFeet">SouthToFeet</label><br />

        <input asp-for="SouthToFeet" />

    </div>

    <div>

        <label asp-for="WestToHead">WestToHead</label><br />

        <input asp-for="WestToHead" />

    </div>

    <div>

        <label asp-for="WestToFeet">WestToFeet</label><br />

        <input asp-for="WestToFeet" />

    </div>


</div>
