@model IntexFinalMummy.Models.MummyInfo
<div>
    <div>

        <label asp-for="NuchalCrest">NuchalCrest</label><br />

        <input asp-for="NuchalCrest" />

    </div>

    <div>

        <label asp-for="ZygomaticCrest">ZygomaticCrest</label><br />

        <input asp-for="ZygomaticCrest" />

    </div>

    <div>

        <label asp-for="CranialSuture">CranialSuture</label><br />

        <input asp-for="CranialSuture" />

    </div>

    <div>

        <label asp-for="EstLivingStature">EstLivingStature</label><br />

        <input asp-for="EstLivingStature" />

    </div>

    <div>

        <label asp-for="ToothAttrition">ToothAttrition</label><br />

        <input asp-for="ToothAttrition" />

    </div>

    <div>

        <label asp-for="ToothEruption">ToothEruption</label><br />

        <input asp-for="ToothEruption" />

    </div>

    <div>

        <label asp-for="PathalogyAnomaly">PathalogyAnomaly</label><br />

        <input asp-for="PathalogyAnomaly" />

    </div>

    <div>

        <label asp-for="EpiphysealUnion">EpiphysealUnion</label><br />

        <input asp-for="EpiphysealUnion" />

    </div>

    <div>

        <label asp-for="ByuSample">ByuSample</label><br />

        <input asp-for="ByuSample" />

    </div>

    <div>

        <label asp-for="ToBeConfirmed">ToBeConfirmed</label><br />

        <input asp-for="ToBeConfirmed" />

    </div>

    <div>

        <label asp-for="SkullTrauma">SkullTrauma</label><br />

        <input asp-for="SkullTrauma" />

    </div>

    <div>

        <label asp-for="PostcraniaTrauma">PostcraniaTrauma</label><br />

        <input asp-for="PostcraniaTrauma" />

    </div>

    <div>

        <label asp-for="CibraOrbitala">Cibra Orbitala</label><br />

        <input asp-for="CibraOrbitala" />

    </div>

    <div>

        <label asp-for="PoroticHyperostosis">PoroticHyperostosis</label><br />

        <input asp-for="PoroticHyperostosis" />

    </div>

    <div>

        <label asp-for="PoroticHyperostosisLocations">PoroticHyperostosisLocations</label><br />

        <input asp-for="PoroticHyperostosisLocations" />

    </div>

    <div>

        <label asp-for="MetopicSuture">MetopicSuture</label><br />

        <input asp-for="MetopicSuture" />

    </div>

    <div>

        <label asp-for="ButtonOsteoma">ButtonOsteoma</label><br />

        <input asp-for="ButtonOsteoma" />

    </div>

    <div>

        <label asp-for="OsteologyUnknownComment">OsteologyUnknownComment</label><br />

        <input asp-for="OsteologyUnknownComment" />

    </div>

    <div>

        <label asp-for="TemporalMandibularJointOsteoarthritis">TemporalMandibularJointOsteoarthritis</label><br />

        <input asp-for="TemporalMandibularJointOsteoarthritis" />

    </div>

    <div>

        <label asp-for="LinearHypoplasiaEnamel">LinearHypoplasiaEnamel</label><br />

        <input asp-for="LinearHypoplasiaEnamel" />

    </div>

    <div>

        <label asp-for="Area">Area</label><br />

        <input asp-for="Area" />

    </div>

    <div>

        <label asp-for="Tomb">Tomb</label><br />

        <input asp-for="Tomb" />

    </div>

    <div>

        <label asp-for="FaceBundle">FaceBundle</label><br />

        <input asp-for="FaceBundle" />

    </div>

    <div>

        <label asp-for="BodyAnalysisYear">BodyAnalysisYear</label><br />

        <input asp-for="BodyAnalysisYear" />

    </div>

    <div>

        <label asp-for="SkullAtMagazine">SkullAtMagazine</label><br />

        <input asp-for="SkullAtMagazine" />

    </div>

    <div>

        <label asp-for="PostcraniaAtMagazine">PostcraniaAtMagazine</label><br />

        <input asp-for="PostcraniaAtMagazine" />

    </div>

    <div>

        <label asp-for="DataEntryExpert">DataEntryExpert</label><br />

        <input asp-for="DataEntryExpert" />

    </div>

    <div>

        <label asp-for="DataEntryChecker">DataEntryChecker</label><br />

        <input asp-for="DataEntryChecker" />

    </div>

    <div>

        <label asp-for="OsteologyNotes">OsteologyNotes</label><br />

        <input asp-for="OsteologyNotes" />

    </div>

</div>