
@model IntexFinalMummy.Models.MummyInfo 

<td>
    <form id="@Model.MummyId" asp-action="ViewIndividualRecord" method="get">

        <span class="card-text p1">

            <button class="btn btn-dark" type="submit">View Full Record</button>

            <input asp-for="MummyId" type="hidden" value="@Model.MummyId" />
            <input asp-for="QuadrantId" type="hidden" value="@Model.QuadrantId" />
            <input asp-for="ClusterId" type="hidden" value="@Model.ClusterId" />
          

         

        </span>

    </form>
</td>