
@model IntexFinalMummy.Models.MummyInfo

<br />
<br />
<br />
<div class="container">
    <!-- Add Confirmation View-->
    <div>
        <h1> Success!</h1>
        <p> <b>@Model.MummyId</b> has been edited.</p>
    </div>

    <div>
        Click <a asp-action="ViewRecords"> here </a> to return to the list.
    </div>
</div>