@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html class="js touchevents csstransforms supports csstransforms3d csstransitions preserve3d passiveeventlisteners wf-vagrundschriftd-i4-active wf-vagrundschriftd-n4-active wf-vagrundschriftd-n3-active wf-vagrundschriftd-i3-active wf-active" lang="en-US" id="ls-global">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" id="toolset-common-es-css" href="https://kidzbop.com/wp-content/plugins/wp-views/vendor/toolset/common-es/public/toolset-common-es.css?ver=135000" type="text/css" media="all">
    <link rel="stylesheet" id="toolset_blocks-style-css-css" href="https://kidzbop.com/wp-content/plugins/wp-views/vendor/toolset/blocks/public/css/style.css?ver=1.3.5.3" type="text/css" media="all">
    <link rel="stylesheet" id="toolset_bootstrap_4-css" href="https://kidzbop.com/wp-content/plugins/types/vendor/toolset/toolset-common/res/lib/bootstrap4/css/bootstrap.min.css?ver=4.5.3" type="text/css" media="screen">
    <link rel="stylesheet" id="wp-block-library-css" href="https://kidzbop.com/wp-includes/css/dist/block-library/style.min.css?ver=5.6.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-block-library-theme-css" href="https://kidzbop.com/wp-includes/css/dist/block-library/theme.min.css?ver=5.6.2" type="text/css" media="all">
    <link rel="stylesheet" id="view_editor_gutenberg_frontend_assets-css" href="https://kidzbop.com/wp-content/plugins/wp-views/public/css/views-frontend.css?ver=3.3.5" type="text/css" media="all">
    <link rel="stylesheet" id="essential-grid-plugin-settings-css" href="https://kidzbop.com/wp-content/plugins/essential-grid/public/assets/css/settings.css?ver=3.0.11" type="text/css" media="all">
    <link rel="stylesheet" id="tp-fontello-css" href="https://kidzbop.com/wp-content/plugins/essential-grid/public/assets/font/fontello/css/fontello.css?ver=3.0.11" type="text/css" media="all">
    <link rel="stylesheet" id="toolset-common-css" href="https://kidzbop.com/wp-content/plugins/types/vendor/toolset/toolset-common/res/css/toolset-common.css?ver=4.0.9" type="text/css" media="screen">
    <link rel="stylesheet" id="mediaelement-css" href="https://kidzbop.com/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.16" type="text/css" media="all">
    <link rel="stylesheet" id="wp-mediaelement-css" href="https://kidzbop.com/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=5.6.2" type="text/css" media="all">
    <link rel="stylesheet" id="views-pagination-style-css" href="https://kidzbop.com/wp-content/plugins/wp-views/embedded/res/css/wpv-pagination.css?ver=3.3.5" type="text/css" media="all">
    <link rel="stylesheet" id="x-stack-css" href="https://kidzbop.com/wp-content/themes/pro/framework/dist/css/site/stacks/integrity-light.css?ver=3.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="x-child-css" href="https://kidzbop.com/wp-content/themes/pro-child/style.css?ver=3.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="the-grid-css" href="https://kidzbop.com/wp-content/plugins/the-grid/frontend/assets/css/the-grid.min.css?ver=2.7.4" type="text/css" media="all">
    <script type="text/javascript" src="https://kidzbop.com/wp-includes/js/jquery/jquery.min.js?ver=3.5.1" id="jquery-core-js"></script>
    <script type="text/javascript" src="https://kidzbop.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
    <script type="text/javascript" id="layerslider-utils-js-extra">



        <script id="cs-typekit-loader">
            (function(doc){
            var config = {kitId:'dbf1tqu', async:true }

            var timer = setTimeout(function(){
                doc.documentElement.className = doc.documentElement.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
            }, 3000)

            var tk = doc.createElement("script")
            var loaded = false
            var firstScript = doc.getElementsByTagName("script")[0]

            doc.documentElement.className += " wf-loading"

            tk.src = 'https://use.typekit.net/' + config.kitId + '.js'
            tk.async = true
            tk.onload = tk.onreadystatechange = function(){
              if (loaded || this.readyState && this.readyState != "complete" && this.readyState != "loaded") return
              loaded = true
              clearTimeout(timer)
              try {Typekit.load(config)} catch(e){ }
            }

            firstScript.parentNode.insertBefore(tk, firstScript)
          })(window.document)
    </script>
    <link rel="stylesheet" href="https://kidzbop.com/wp-content/plugins/LayerSlider/assets/static/layerslider/skins/v6/skin.css" type="text/css">
</head>

<body class="home page-template page-template-template-blank-4 page-template-template-blank-4-php page page-id-894 x-integrity x-integrity-light x-full-width-layout-active x-full-width-active x-post-meta-disabled x-child-theme-active pro-v3_2_3 cornerstone-v4_2_3">

    <header class="x-masthead" role="banner">

        <div class="e3804-1 x-bar x-bar-top x-bar-h x-bar-relative  x-hide-sm x-hide-xs x-bar-outer-spacers" data-x-bar="{&quot;id&quot;:&quot;e3804-1&quot;,&quot;region&quot;:&quot;top&quot;,&quot;height&quot;:&quot;4em&quot;}">


            <div class="e3804-1 x-bar-content">

                <div class="e3804-2 x-bar-container">
                    <h1 class="text-white text-lg-center">Learn About Mummies!</h1>
                </div>
            </div>

        </div>

        <div class="e3804-5 x-bar-space x-bar-space-top  x-hide-lg x-hide-md x-hide-xl x-bar-space-h" style=""></div>


        <div class="e3804-5 x-bar x-bar-top x-bar-h x-bar-relative x-bar-is-sticky x-hide-lg x-hide-md x-hide-xl x-bar-outer-spacers x-bar-fixed" data-x-bar="{&quot;id&quot;:&quot;e3804-5&quot;,&quot;region&quot;:&quot;top&quot;,&quot;height&quot;:&quot;4em&quot;,&quot;triggerOffset&quot;:&quot;0&quot;,&quot;shrink&quot;:&quot;1&quot;}" style="top: 0px; height: 64px; width: 100%;">


            <div class="e3804-5 x-bar-content" style="height: 64px;">

                <div class="e3804-6 x-bar-container">



                    <a class="e3804-7 x-image" href="/">
                        <img alt="Image" src="https://kidzbop.com/wp-content/uploads/2020/04/kidzbop-weblogo-cc-1200.png" width="750" height="129">
                    </a>

                    <a class="e3804-8 x-anchor x-anchor-toggle" tabindex="0" data-x-toggle="1" data-x-toggleable="e3804-8">


                        <div class="x-anchor-content">

                            <span class="x-graphic" aria-hidden="true">


                                <span class="x-toggle x-toggle-burger x-graphic-toggle" aria-hidden="true">


                                    <span class="x-toggle-burger-bun-t" data-x-toggle-anim="x-bun-t-1"></span>
                                    <span class="x-toggle-burger-patty" data-x-toggle-anim="x-patty-1"></span>
                                    <span class="x-toggle-burger-bun-b" data-x-toggle-anim="x-bun-b-1"></span>


                                </span>
                            </span>
                        </div>

                    </a>

                </div>
            </div>

        </div>


    </header>


    <div class="x-main full ls-overflow-visible" role="main">


        <article id="post-894" class="post-894 page type-page status-publish hentry category-home no-post-thumbnail ls-overflow-visible">

            <div class="e894-5 x-section" id="music">

                <div class="x-bg" aria-hidden="true">
                    <div class="x-bg-layer-lower-image" style=" background-image: url(https://kidzbop.com/wp-content/uploads/2020/04/purple-back-flip-cc-1-scaled.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;"></div>
                </div>

                <div class="e894-6 x-row x-container max width">
                    <div class="x-row-inner">

                        <div class="e894-7 x-col">

                            <span class="e894-8 x-image">

                                <img src="~/assets/img/EgyptionGildedMummy.png" />
                            </span>
                        </div>

                        <div class="e894-9 x-col">

                            <div class="e894-10 x-text x-text-headline">
                                <div class="x-text-content"><div class="x-text-content-text"><h1 class="x-text-content-text-primary">History</h1></div></div>
                            </div>

                            <div class="e894-11 x-text text-center">
                                Have you ever dressed up as a mummy for Halloween? Have you seen mummies in movies or cartoons? Mummies were actually real and were created by the ancient Egyptians! Click below to explore what mummies are and how they were made.
                            </div>

                            <div class="e894-12 x-row x-container max width">
                                <div class="x-row-inner">

                                    <div class="e894-13 x-col">

                                        <a class="e894-14 x-anchor x-anchor-button" tabindex="0" href="https://study.com/academy/lesson/ancient-egypts-mummies-lesson-for-kids.html" target="_blank">


                                            <div class="x-anchor-content">
                                                <div class="x-anchor-text"><span class="x-anchor-text-primary">MUMMY FACTS</span></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="e894-16 x-section" id="video">

                <div class="x-bg" aria-hidden="true">
                    <div class="x-bg-layer-lower-image" style=" background-image: url(https://kidzbop.com/wp-content/uploads/2020/04/yellow-back-cc-1-scaled.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;"></div>
                </div>

                <div class="e894-17 x-row x-container max width">
                    <div class="x-row-inner">

                        <div class="e894-18 x-col">

                            <div class="e894-19 x-text x-text-headline">
                                <br />
                                <div class="x-text-content"><div class="x-text-content-text"><h1 class="x-text-content-text-primary">Video</h1></div></div>
                            </div>


                            <div class="e894-20 x-text text-center">
                                <br />
                                Join us as we travel to Ancient Egypt where we will learn the mysteries of the pyramids and their mummies!
                                <br /><br />
                            </div>

                            <div class="e894-21 x-row x-container max width">
                                <div class="x-row-inner">

                                    <div class="e894-22 x-col">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="e894-25 x-col">

                            <div class="e894-26 x-frame x-frame-video-embed">
                                <div class="x-frame-inner">

                                    <div class="e894-26 x-video x-video-embed">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RjvvrAwgCYg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="x-bg" aria-hidden="true">
                <div class="x-bg-layer-lower-image" style=" background-image: url(https://kidzbop.com/wp-content/uploads/2020/04/blue-back-flip-cc-1-scaled.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;"></div>
            </div>

            <div class="e894-28 x-row x-container max width">
                <div class="x-row-inner">

                    <div class="e894-29 x-col scrollmenu" id="container">

                        <a class="e894-30 x-anchor x-anchor-button kidsize" tabindex="0">


                            <div class="x-anchor-content">

                                <span class="x-graphic" aria-hidden="true">


                                    <span class="e894-30 x-image x-graphic-image x-graphic-primary">
                                        <img alt="Image" src="https://kidzbop.com/wp-content/uploads/2019/02/KB_PP_AVATARS_WEBSITE_ALANA1.png" width="600" height="600">
                                    </span>

                                    <span class="e894-30 x-image x-graphic-image x-graphic-secondary">
                                        <img alt="Image" src="https://kidzbop.com/wp-content/uploads/2019/02/KB_PP_AVATARS_WEBSITE_ALANA2.png" width="600" height="600">
                                    </span>

                                </span>
                            </div>



                        </a>
                    </div>

                    <div class="e894-34 x-col">
                        <div class="e894-19 x-text x-text-headline">
                            <br />
                            <div class="x-text-content"><div class="x-text-content-text"><h1 class="x-text-content-text-primary">Crafts</h1></div></div>
                        </div>


                        <div class="e894-36 x-text text-center">
                            Whether it is Hallowen season or any other month of the year, feel free to try all of our wonderful Mummy crafts. Designed for all ages and fun to do with parents and friends!
                        </div>
                        <a class="e894-14 x-anchor x-anchor-button" tabindex="0" href="https://www.artistshelpingchildren.org/kidscraftsactivitiesblog/2012/10/14-cool-mummy-craft-ideas-for-halloween/" target="_blank">


                            <div class="x-anchor-content">
                                <div class="x-anchor-text"><span class="x-anchor-text-primary">MUMMY CRAFTS</span></div>
                            </div>

                        </a>
                    </div>

                </div>
            </div>
        </article>
    </div>
</body>
</html>