@{
        ViewData["Title"] = "Home Page"; }
@model IntexFinalMummy.Models.ViewModels.IndexViewModel
<br />
<br />
<br />
<link href="~/Table_Fixed_Header/css/main.css" rel="stylesheet" />
<link href="~/Table_Fixed_Header/css/util.css" rel="stylesheet" />


<div class="container text-center">


    <div class="container text-center">
        <div>
            <h1 class="section-title">Explore our Collection</h1>
        </div>


        <div style="border:solid; border-color: dimgrey; padding: 7px">
            <form method="get" class="d-md-inline-block align-items-xxl-end">
                <partial name="FilterSummary" model="Model.SearchModel" />
            </form>
        </div>


        <div>


            <div class="table100 ver5" style="padding-top: 5px">
                <div class="table100-body js-pscroll ps ps--active-y">
                    <table>
                        <thead class="table100-head">
                            <tr>


                                <th class="cell100 column1">MummyID</th>
                                <th class="cell100 column2">Sex</th>
                                <th class="cell100 column3">Min Age of Remains</th>
                                <th class="cell100 column4">Max Age of Remains</th>
                                <th class="cell100 column5">Hair Color</th>
                                <th class="cell100 column6">Burial Depth</th>
                                <th class="cell100 column7">Burial Goods</th>
                                <th class="cell100 column8">Burial Description</th>
                               
                            <th class="cell100 column9">View Record</th>
                                
                                @if (User.IsInRole("Admin"))
                                {
                            <th class="cell100 column9">Delete Record</th>
                                }
                            </tr>
                            <br />
                            <br />
                            <br />
                        </thead>
                        <tbody class="row100 head">



                            @foreach (var x in Model.MummyInfos)

                            {

                                <partial name="EntrySummary" model="x"/>
                                              
                                               
                            }





                        </tbody>


                    </table>
                </div>
                <br />
            </div>
            <partial name="PaginationSummary" />
        </div>
        <br /><br /><br />
    </div>
</div>













