@{
    ViewData["Title"] = "Home Page";
}
@model IntexFinalMummy.Models.ViewModels.IndexViewModel

<div class=" container text-center">
    <div>
        <h1>This is the view records page</h1>
    </div>
    <table class="table table-dark table-striped ">
        <thead>
            <tr>
                <th>MummyID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Body Part</th>


        </thead>
        <tbody>


            @foreach (var x in Model.MummyInfos)

            {

                //See the MyMovieSummary file for the partial view
                <partial name="EntrySummary" model="x" />
            }




        </tbody>

    </table>
    </div>